/* Estilos gerais */
body {
  margin: 0px;
  font-family: Lato;
}

.wrapper {
  width: 1048px;
  display: flex;
  margin: auto;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: #18bc9c;
}

h2 {
  font-family: Montserrat;
  font-size: 2.7em;
  margin: 30px 0px 24px;
  text-align: center;
}

h3 {
  font-family: Montserrat;
  font-size: 1.55em;
  margin-bottom: 30px;
}

/* Áreas de fundo branco ou azul  */

section.blue {
  background-color: #18bc9c;
  color: #fff;
}

section.white {
  color: #2c3e50
}

section.white h2 { 
  color: #212529;
}

/* Menu */
#navbar {
  background-color: #2c3e50;
  color: #fff;
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
}

#navbar h1 {
  align-self: flex-start;
  font-size: 1.57em;
  padding: 5.6px 0px;
}

#navbar ul {
  display: flex;
  list-style: none;
  margin-left: auto;
  margin-right: 9px;
  align-items: center;
  font-size: 0.94em;
}

#navbar ul li {
  font-weight: bold;
  margin-left: 17px;
}

#navbar ul li a {
  color: #fff;
  top: -1px;
  position: relative;
}

#navbar ul li a:hover { 
  color: #18bc9c;
}

/* Perfil */

.profile {
  width: 1000px;
  margin: auto;
  padding: 105px 0px 99px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile img {
  width: 242px;
}

.profile h2 {
  font-size: 4.23em;
  margin: 30px 0px 28px;
}

.profile span {
  font-size: 1.65em;
  font-weight: bold;
}

/* Portfólio */

.portfolio {
  width: 1048px;
  margin: auto;
  padding: 60px 0px 95px;
}

.portfolio h2 {
  color: #212529;
}

.portfolio .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: -3px;
}

.portfolio .item {
  margin-bottom: 27px;
  background-color: #18bc9c;
}

.portfolio .item img {
  width: 331px;
  margin-bottom: -3px;
  transition-duration: 0.4s;
}

.portfolio .item:hover img {
  opacity: 0.2;
}

/* Sobre */
.about {
  width: 693px;
  margin: auto;
  padding: 60px 0px 82px;
  font-weight: bold;
}

.about-text {
  display: flex;
  justify-content: space-between;
}

.about p {
  font-size: 1.2em;
  line-height: 1.5em;
  margin-top: -2px;
  width: 49%;
  margin-right: -5px;
}

a.btn-download {
  color: #fff;
  border: 2px solid #fff;
  padding: 11px;
  border-radius: 5px;
  margin: 11px auto;
  display: table;
  font-size: 1.2em;
  transition-duration: 0.4s;
}

a.btn-download:hover {
  background-color: #fff;
  color: #212529;
}

/* Contato */
.contact {
  padding: 63px 0px 111px;
  width: 693px;
  margin: auto;
}

.contact form {
  margin-top: -3px;
}

.contact form button {
  background-color: #18bc9c;
  border: none;
  border-radius: 4px;
  color: #fff;
  padding: 13px 18px;
  font-weight: bold;
  font-size: 1em;
  margin-top: 18px;
}

textarea#input-msg, .contact form input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #e6e6e6;
  font-family: lato;
  font-size: 1.45em;
  opacity: 0.7;
  padding: 29px 0px;
}

textarea#input-msg {
  height: 141px;
}

/* Footer */

footer {
  background-color: #2c3e50;
  color: #fff;
  padding: 21px;
}

.footer-item {
  width: 31%;
  text-align: center;
  font-weight: bold;
}

.footer-item p {
  font-size: 1.2em;
  line-height: 1.4em;
}

ul.social-icons {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0px;
  width: 273px;
  margin: 44px auto;
}

ul.social-icons li {
  font-size: 1.1em;
  border: 2px solid #fff;
  padding: 10px 12px;
  border-radius: 360px;
  transition-duration: 0.4s;
}

ul.social-icons li a {
  color: #fff;
}

ul.social-icons li:hover {
  background-color: #fff;
}

ul.social-icons li:hover a {
  color: #212529;
}

div#bottom-footer {
  text-align: center;
  margin-top: 59px;
  font-weight: bold;
  font-size: 0.97em;
  padding: 10px;
}

/* Todos os Icones */

span.icon-star-full {
  width: 235px;
  height: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto 32px;
  font-size: 1.65em;
}

.icon-star-full:before {
  content: "\e9d9";
  padding: 0px 8px;
}

.white-star {
  background-color: #fff;
}

.white-star:before {
  background-color: #18bc9c;
}

.blue-star {
  background-color: #2c3e50;
}

.blue-star:before {
  background-color: #fff;
}

.icon-download3:before {
  content: "\e9c7";
}

.icon-facebook:before {
  content: "\ea90";
}

.icon-google-plus:before {
  content: "\ea8b";
}

.icon-twitter:before {
  content: "\ea96";
}

.icon-dribbble:before {
  content: "\eaa7";
}

.icon-linkedin2:before {
  content: "\eaca";
}